body {
    background-color: #EADFB4;
    font-family: "Sintony", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.genre-checkbox{
    height: 1.5rem /* 24px */;
    width: 1.5rem/* 24px */;
    margin: 0.2rem;
}

.genre-label{
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
    vertical-align: super;
}

.genre-object{
    min-width: 160px;
}

/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 100 to 900 */

.raleway-bookCard {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.raleway-text {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}  


/* color theme */
/* 'beige-book-rec': '#EADFB4',
'grey-book-rec': '#9BB0C1',
'green-book-rec': '#51829B',
'orange-book-rec': '#F6995C' */